*{
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;

}

.stombe{
    width: 95%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;

}


header h1{
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    top: 42px;
    color: khaki;
    font-size: 100px;
    font-weight: bold;
}

main{
    width: 95%;
    margin: 10 auto;
}

main .head{
    margin:10px;
}
main{
    margin-bottom: 200px;
}

main h2{
    font-size: 32PX;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}
#brush{
    border: 2px inset rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 10px;
    background-color: mediumspringgreen;
    position: relative;
}
#frames{
    border: 2px inset rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 70px;

    border-radius: 10px;
    background-color: lightcoral;
}
#paint{
    border: 2px inset rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 70px;

    border-radius: 10px;
    background-color: skyblue;
}
main img{
    border-radius: 10px;
    margin-bottom: 70px;
    margin-top: 50px;

}
h3{
    position: absolute;
    left: 40%;
    margin-top: -320px;
    font-size: 27px;

    text-align: center;
}
p{
    width: 60%;
    left: 300px;
    margin-top: -250px;
    font-size: 20;
    position: absolute;
    text-align: center;


}
a{
    text-decoration: none;
    color: rgb(0, 126, 148);
    font-weight: bold;
    transition: 1s;
}
a:hover{
    color:rgb(0, 195, 130, 0.7)
}
.footer{
    margin-bottom: -200px;
    position:relative;
right:580px}

.footer .fa{
    transition: 1s;
    color: rgb(0, 126, 148);
}
.fa:hover{
    background-color: rgb(243, 230, 255);
}











@media(max-width: 800px){
header h1{
    font-size: 50px;
    top: 45px;
    left: 30px;
}
body{
width:100%;
}
.footer{
    right: 320px;
}
}

